/backups
/uploads/*.jpg
/uploads/*.png
/uploads/*.jpeg
/uploads/kartu_pelajar/*.pdf
/assets/images/*.jpg
application/config/config.php
application/config/database.php
.DS_Store
/cache
/assets/images
/uploads/foto/*.png
/uplaods/foto_siswa/*/*.png
/uploads/foto/__MACOSX/
code-server.log